@use '../../../../partial-scss/variables' as *;
.resend-otp{
 font-size: 1rem;   
 font-weight: 600;
 color: $blackColor;
 cursor: pointer;
}
.primary-button{
    position: absolute;
    bottom: 5rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}