<app-admin-header></app-admin-header>
<div class="p-3 pt-6">
    <div class="flex-btwn-center mb-3">
        <div class="flex-center">
            <mat-icon class="heading mb-2 cursor-pointer" routerLink="/admin/dashboard">keyboard_backspace</mat-icon>
            <h1 class="heading">Back to Dashboard</h1>
        </div>
        <button type="button" class="refresh-button" mat-raised-button><mat-icon>wifi_off</mat-icon>Deactivate Device</button>
    </div>
    <div class="d-grid-cards mb-3">
        <mat-card class="card" *ngFor="let item of cardsData; let i = index">
            <mat-card-content >
                <div class="flex-btwn-center mb-2">
                    <h5 class="sub-title">{{ item.title }}</h5>
                    <mat-icon class="text-green">{{item.icon}}</mat-icon>
                </div>
                <h3 class="title mb-2">{{ item.value}}</h3>
                <p>{{item.desc}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="mb-3">
        <mat-card class="card">
            <mat-card-header class="title mb-3">Device Information</mat-card-header>
            <mat-card-content>
                <div class="flex-btwn-center">
                    <div>
                        <p class="mb-2">Device ID</p>
                        <h5 class="sub-title">IOT-1WO1K7</h5>
                    </div>
                    <div>
                        <p class="mb-2">Curent Status</p>
                        <h5 class="status online">online</h5>
                    </div>
                    <div>
                        <p class="mb-2">First Connected</p>
                        <h5 class="sub-title">Jun 21, 2025</h5>
                    </div>
                    <div>
                        <p class="mb-2">User Name</p>
                        <h5 class="sub-title">Abhimanyu Sai</h5>
                    </div>
                    <div>
                        <p class="mb-2">Phone</p>
                        <h5 class="sub-title">9876543210</h5>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <h3 class="title mb-3">Usage History(Last 14Days)</h3>
    <div class="div-scroll mobile-hide tablecard">
        <table mat-table [dataSource]="dataSource" class="mat-table equal-table">
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let device">{{ device.date }}</td>
            </ng-container>
            <ng-container matColumnDef="dataUsage">
                <th mat-header-cell *matHeaderCellDef>Data Usage</th>
                <td mat-cell *matCellDef="let device" >{{ device.dataUsage}}</td>
            </ng-container>
            <ng-container matColumnDef="connectionDuration">
                <th mat-header-cell *matHeaderCellDef>Connection Duration</th>
                <td mat-cell *matCellDef="let device">{{ device.connectionDuration }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" class="clickable-cell"></tr>
        </table>
    </div>
</div>