.header-bg{
    background: linear-gradient(180deg, #206273 -47.92%, #F8F8F5 100%);
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-bg{
    padding: 0 !important;
    justify-content: center;
    align-items: center;
    gap: 0;
}