@use '../../../../partial-scss/variables' as *;
.add-posters-page {
    width: 100%;

  .upload-box {
    width: 100%;
    height: 160px;
    border: 2px dashed $greenColor;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    .upload-content {
      color: #7b7b7b;
      .upload-icon { 
        font-size: 28px;
        display: block;
      }
      p {
        font-weight: 600;
        margin: 6px 0; 
      }
      small {
        font-size: 12px;
      }
    }
  }
}
