
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './partial-scss/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
html, body { height: 100%; }

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  background-color: #F5F8F7;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
   font-family: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0
}

.cursor-pointer{
    cursor: pointer;
}

.login-form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
}

.d-grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  grid-gap: 1rem;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  padding: 0 0.5rem;
  border-radius: 10px !important;
  background-color: $whiteColor !important;
}

.text-green {
    color: $greenColor;
}

.heading{
    font-size: 2rem;
    font-weight: 500;
}

.sub-title{
    font-size: 1rem;
    font-weight: 500;
}

.title{
    font-size: 1.5rem;
    font-weight: 500;
}

.bg-container, .conntected-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: nowrap;
}

.p-3{
    padding: 1rem 1.5rem !important;
}

.pt-5{
    padding-top: 5rem;
}

.pt-6{
    padding-top: 6rem !important;
}

.mb-3{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 0.5rem;
}

.mb-4{
    margin-bottom: 2rem;
}

.flex-btwn-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-bg {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.header{
    background-color: $greenColor;
    color: $whiteColor;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    height: 4rem;
    h3{
        font-size: 1.5rem !important;
    }
}

.header-logo img {
    height: 6rem;
}
.header-logo-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    background: $greenColor;
    color: $whiteColor;
    border-radius: 50%;
    mat-icon{
        font-size: 1.5rem;
    }
}

.wifi-circle img {
    height: 180px;
}

.wifi-title {
    font-size: 2rem;
    color: $blackColor;
}

.wifi-subtitle {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input {
    border: 1px solid $greenColor !important;
}

.otp-input{
    width: 4rem;
    height: 5rem;
    border-radius: 50%;
    text-align: center;
}

.wifi-desc {
    font-size: 1rem;
    color: #787e87;
}

button:disabled {
    background: #94a194 !important;
    cursor: not-allowed !important;
    box-shadow: none !important;
}
button {
 cursor: pointer;
}

.primary-button {
    background: $greenColor !important;
    color: $whiteColor !important;
    border-radius: 25px;
    padding: 13px 32px;
    font-size: 1rem;
    cursor: pointer !important;
    transition: background 0.2s;
    box-shadow: 0px 4px 10px 0px #20627333;
    display: inline-flex !important; 
    align-items: center !important;
    justify-content: center !important;
    mat-icon{
          line-height: 1 !important;
          margin-left: 0.5rem;
          vertical-align: middle;
    }
}

.w-20{
    width: 20rem;
}

.footer-bg {
   background: #F5F8F7 !important;
    padding: 1rem;
}

a {
    text-decoration: none;
}
.mt-3 {
    margin-top: 1rem;
}

.carousel-img{
    height: 30rem;
    width: 100%;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}
tr:nth-child(even) {
  background-color: #eef5ee;
}
.div-scroll {
    overflow-x: auto;
    scrollbar-width: none;
    scrollbar-width: thin;
}
.wifi-logo-container{
    margin-top: 1rem;
    img{
        height: 20rem;
        width: auto;
    }
}

.wifi-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #67939D;
    padding: 1rem;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    animation: wifiPulse 1.5s ease-in-out infinite;
}
@keyframes wifiPulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0px rgba(0,0,0,0.2);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0px rgba(0,0,0,0.2);
  }
}

@media screen and (max-width: 780px) {
    .carousel-img{
        height: 25rem;
    }
}
@media screen and (max-width: 480px) {
    .header-logo img {
        height: 5rem;
    }
    .wifi-title {
        font-size: 1.5rem;
    }
    .wifi-circle img {
        margin-bottom: 0;
    }
    .flex-btwn-center {
    justify-content: space-around;
    }
}