
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './partial-scss/variables' as *;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}
html, body { height: 100%; }

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0
}

.cursor-pointer{
    cursor: pointer;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.d-grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  grid-gap: 1rem;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  padding: 0 0.5rem;
  border-radius: 10px !important;
  background-color: $whiteColor !important;
}

.text-green {
    color: $greenColor;
}

.heading{
    font-size: 2rem;
    font-weight: 500;
}

.sub-title{
    font-size: 1rem;
    font-weight: 500;
}

.title{
    font-size: 1.5rem;
    font-weight: 500;
}

.bg-container, .conntected-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bg-container{
    background-image: var(--primary-bg);

}
.conntected-body{
    background-image: var(--second-bg);
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    flex-wrap: nowrap;
}

.back-arrow{
    color: $greenColor;
    font-size: 2rem;
    cursor: pointer;
}

.p-3{
    padding: 1rem 1.5rem !important;
}

.pt-5{
    padding-top: 5rem;
}

.pt-6{
    padding-top: 6rem !important;
}

.mb-3{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 0.5rem;
}

.mb-4{
    margin-bottom: 2rem;
}

.flex-btwn-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.main-bg {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

.header-logo img {
    height: 5rem;
}

.wifi-circle img {
    height: 180px;
}

.wifi-title {
    font-size: 2rem;
    color: $greenColor;
}

.wifi-subtitle {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

input {
    border: 1px solid $greenColor !important;
}
.user-input{
    padding: 1rem;
    border-radius: 5px;
    width: 20rem;

}
.otp-input{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    text-align: center;
}

.wifi-desc {
    font-size: 0.95rem;
    color: #464646;
}

.primary-button {
    background: $greenColor !important;
    color: $whiteColor !important;
    border-radius: 25px;
    padding: 13px 32px;
    font-size: 1rem;
    border: none !important;
    border: none;
    cursor: pointer !important;
    transition: background 0.2s;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25) inset !important;
}

.w-20{
    width: 20rem;
}
.primary-button:hover {
    background: #367e58;
}

.footer-bg {
   background: rgba(255, 255, 255, 0.9) !important;
   backdrop-filter: blur(24.299999237060547px) !important;
    padding: 1rem 1.5rem;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.footer-item span,a {
    color: $greenColor;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 120%;
    text-align: center;
}
.footer-item {
    mat-icon {
        color: $greenColor;
        display: flex;
        align-items: center;
        gap: 0;
    }
}
.mt-3 {
    margin-top: 3rem;
}

.carousel-item{
    img{
        height: 15rem;
    }
}
tr:nth-child(even) {
  background-color: #eef5ee;
}
.div-scroll {
    overflow-x: auto;
    scrollbar-width: none;
    scrollbar-width: thin;
}
@media screen and (max-width: 480px) {
    body{
        background-image: var(--mobile-bg)
    }
    .conntected-body{
        background-image: var(--mobile-second-bg);
    }

    .header-logo img {
        height: 4rem;
    }

    .wifi-circle img {
        margin-bottom: 0;
    }
    .wifi-title {
        font-size: 1.5rem;
    }
    .flex-btwn-center {
    justify-content: space-around;
    }
    .footer-item p, a {
    font-size: 1rem;
    }
}